.container-main{
width: 100rem;
height: 396px;
top: 2316px;
gap: 0px;
opacity: 0px;
border: 0.5px solid #FFFFFF;
background: var(--Primary-Text, #12151C);


}



.company
{
margin-left: 245px;
margin-top: 50px;
font-family: Readex Pro;
font-size: 20px;
font-weight: 700;
line-height: 25px;
text-align: left;
color: #FFFFFF;




}

.solutions{
margin-left: 255px;
margin-top: 50px;
font-family: Readex Pro;
font-size: 20px;
font-weight: 700;
line-height: 25px;
text-align: left;
color:#FFFFFF

    

}

.community{
    margin-left: 155px;
    margin-top: 50px;
    font-family: Readex Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color:#FFFFFF
}
.subheading{
width: 300px;
margin-left: 235px;
padding-top: 30px;
font-family: Readex Pro;
font-size: 20px;
font-weight: 700;
line-height: 20px;
text-align: left;
-webkit-text-fill-color:#FFFFFF;

}

.footerimage{
padding-left: 40px;
padding-top: 50px;
}

.subheadingC{
width: 300px;
margin-left: 140px;
padding-top: 30px;
font-family: Readex Pro;
font-size: 20px;
font-weight: 700;
line-height: 20px;
text-align: left;
-webkit-text-fill-color:#FFFFFF;
}


@media (max-width:576px){
    .container-main{
        max-width: 100%;
        height: auto;
        margin-right: 10px;
    }
    .footerimage{
margin-left: 100px;

    }
}