.navGroup{
  
  height: 100px;
  align-items: center;
  align-content: center;
  left: 48px;
  position: sticky;
  top: 0px;
  z-index: 99999;
  background-color: #fff;

}.navGroup{
  
  height: 100px;
  align-items: center;
  align-content: center;
  left: 48px;
  position: sticky;
  top: 0px;
  z-index: 99999;

}
.nav1{
    margin-left: 50px;
    width: 662px;
    height: 50px;
    gap: px;
    opacity: 0px;
    align-content: center;
    align-items: center;
    
    
}
.navbtn{
font-family: Readex Pro;
font-size: 20px;
font-weight: 700;
line-height: 25px;
text-align: center;
color: var(--Primary-Text, #12151C);
cursor: pointer;
text-decoration: none;


}
.ButtonGroup2{
  
    width: 448px;
    height: 56px;
    margin-top: 62px;
    margin-left: 954px;
    gap: 60px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    
}

.loginbtn{
margin-right: 50px;
width: 200px;
height: 55px;
top: 64px;
left: 1422px;
gap: px;
opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
  border: none;
  color: #143C5F;
  ;
}

.signUpbtn{
  width: 200px;
  height: 55px;
  top: 65px;
  left: 1670px;
  gap: 0px;
  border-radius: 5px 5px 5px 5px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24.2px;
text-align: center;
;


   
}

/* src/Navbar.css */
.user-photo {
    margin-right: 8px;
  }
  
  .menu-icon {
    margin-left: 8px;
    font-size: 20px;
  }

  .UserName{
    margin-top: 12px;
    -webkit-text-fill-color: white;
    background-color:#0D6EFD;
    margin-right: 50px;
    width: 200px;
    height: 55px;
    font-size: medium;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    
    font-family: Readex Pro;
  
  }
  .Userpicture{
    background-color: #0D6EFD;
    border-radius: 100px;
   margin-right: 5px;
    
  }
  

  /* src/Sidebar.css */
/* src/Sidebar.css */

.sidebar .offcanvas-header {
    background-color:white;
    color: #fff;
  }
  
  .sidebar .offcanvas-body {
   
    background-color: white;
    color: #adb5bd;
    padding: 0;
    -webkit-text-fill-color: black;
  }
  
  .sidebar .offcanvas-body .nav-link {
    color: #adb5bd;
    padding: 50px 20px;
    font-size: 18px;
  }
  
  .sidebar .offcanvas-body .nav-link i {
    margin-right: 30px;
  }
  
  .sidebar .offcanvas-body .nav-link:hover {
    background-color: #495057;
    color: black;
  }
  
  .logo {
    position: fixed;
    top: 20px;
    font-size: 24px;
    color: #212529;
    cursor: pointer;
    z-index: 1050;
  }
  
  .logo i {
    font-size: 24px;
    color: #343a40;
  }


  .always-visible-toggle {
    display: block !important;
}
.three-bar-menu{
  margin-right: 120px;
}
.menubtn{
  margin-top: 30px;
}

     

/* styling header 3 */

/* Header.css */

.navGroup {
  background-color: #f8f9fa; /* Adjust the background color if needed */
}

.logo {
  display: none;
}

.navbar-brand img {
  cursor: pointer;
}

.navbar-toggler {
  border: none;
}

.navbar-collapse {
  justify-content: space-between;
}

.nav-link {
  margin-right: 15px;
}

.navbar-nav .navbtn {
  padding: 10px 15px;
}

.navbar-collapse .dropdown-toggle::after {
  display: none;
}

.Userpicture {
  border-radius: 50%;
  margin-right: 15px;
}

.three-bar-menu .dropdown-toggle {
  border: none;
  background: transparent;
}

.three-bar-menu .dropdown-menu {
  right: 0;
  left: auto;
}

.offcanvas {
  width: 250px;
}

@media (max-width: 767px) {
  .navbar-collapse {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    width: 100rem;
    text-align: center;
  }

  .nav-link,
  .navbtn {
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }

  .Userpicture {
    width: 50px;
    height: 50px;
  }

  .logo {
    display: block;
    cursor: pointer;
  }

  .three-bar-menu .dropdown-toggle {
    padding: 0;
  }
  .Logo{
    max-width: 50px;
    max-height: 50px;
  }
}
@media (max-width:576px){
  .navGroup{
    max-width: 100%;
    flex-wrap: wrap;
    max-height: 150px;
  }
  *{
    
    max-width: 412px;
  }
}




/* stylling for signup */
.custom-modal .modal-dialog {
  max-width: 916px !important;
  width: 100% !important;
}

.custom-modal .modal-content {
  height: 1000px !important;
}
.modal-logo{
  height :100px;
  width :120px;
  border: 0.5px solid var(--Primary, #105DFB);
border-radius: 5px 5px 5px 5px;
border: 0.5px 0.5px 0.5px 0.5px;
opacity: 0px;


}
.googleBtn{
  border: 0.5px solid var(--Alternate, #E0E3E7);
  width: 406px;
  height: 64px;
  top: 291px;
  left: 45px;
  gap: 0px;
  border-radius: 12px 12px 12px 12px;
  border: 0.5px 0px 0px 0px;
  opacity: 0px;
  font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24.2px;
text-align: center;

  
  

  }
  .facebookBtn{
border: 0.5px solid var(--Alternate, #E0E3E7);
width: 406PX;
height: 64px;
top: 291px;
left: 45px;
gap: 0px;
border-radius: 12px 12px 12px 12px;
border: 0.5px 0.5px 0.5px 0.5px;
opacity: 0px;
width: 406px;
height: 64px;
top: 291px;
left: 45px;
gap: 0px;
border-radius: 12px 12px 12px 12px;
border: 0.5px 0px 0px 0px;
opacity: 0px;

font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24.2px;
text-align: center;


    
  }
  .gglbtn{
    margin-right: 30px;
  }
  .fbbtn{
    margin-right: 30px;
  }
  .modal-login-btn{
    justify-content: center;
    width:608px;
    height: 54px;
    margin-top: 50px;
    font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24.2px;
text-align: center;

  }
  .logincol{
    text-align: center;
    
    
  }
  .orcol{
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
  }
  .container-form{
    margin-left: 0;
width: 761px;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24.2px;

 }
 .placeholder{
  height: 75px;
 }