h2{
    font-family: Readex Pro;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    
        
    }
    .para1{
    font-family: Readex Pro;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    align-content: center;
    width: 660px;
    height: 32px;
    width: 660px;
    height: 30px;
    top: 1528px;
    left: 714px;
    gap: 0px;
    margin-left: 470px;
    opacity: 0px;
    
    }
    
    .card1{
    top: 50px;
    width: 378px;
    height: 629px;
    /* top: 1579px; */
    /* left: 115px; */
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid var(--Secondary-Background, #F6F6F6);
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-left: 300px;
    
    
    
    }
    .card2{
        width: 378px;
        height: 687px;
        /* top: 1520.19px; */
        /* left: 531px; */
        gap: 0px;
        border-radius: 10px 10px 10px 10px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        background-color: var(--Accent-1, #3E2B6D);
        box-shadow: 0px 4px 4px 0px #00000040;
        border: 1px solid var(--Secondary-Background, #F6F6F6);
        margin-left: 119px;
    
        
    }
    .card31{
        top: 50px;
        width: 378px;
        height: 629px;
        /* top: 1579px; */
        /* left: 947px; */
        gap: 0px;
        border-radius: 10px 10px 10px 10px;
        border: 1px 1px 1px 1px;
        opacity: 0px;
        border: 1px solid var(--Secondary-Background, #F6F6F6);
        box-shadow: 0px 4px 4px 0px #00000040;
            right: 70px;
        
        
    
        
    
    }
    .Title1{
    font-family: Readex Pro;
    font-size: 36px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    }
    
    .Title{
        
        font-family: Readex Pro;
        font-size: 36px;
        font-weight: 500;
        line-height: 45px;
        text-align: center;
        color: #000000;
    
        }
        
    
    
    
    .getbtn{
    width: 216.99px;
    height: 63px;
    top: 1735px;
    left: 612px;
    gap: 0px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    align-content: center;
    background: var(--Accent-1, #3E2B6D);
    
    
    
    }
    .getbtn2{
    margin-top: 50px;
    color: var(--Primary-Text, #12151C);
    width: 216.99px;
    height: 63px;
    top: 1735px;
    left: 612px;
    gap: 0px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    align-content: center;
    background-color:var(--Primary-Background, #FFFFFF);
    ;
    
    }
    .Card.text{
        background-color: #3E2B6D;
    }
    .subtext1{
        margin-left: 50px;
        width: 254px;
        height: 64px;
        font-family: Readex Pro;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        -webkit-text-fill-color: #FFFFFF;
    }
    .subtext{
        margin-left: 50px;
        width: 254px;
        height: 64px;
    
        font-family: Readex Pro;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        -webkit-text-fill-color: #000000;
    
    }