/* src/StatsSection.css */
.stats-section {
    background-color: #f8f9fa;
    padding: 20px 0;
    width: 1200px;
    align-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
  }
  
  .stats-section .text-center {
    padding: 20px;
  }
  
  .stats-section h3 {
    color: #007bff;
    font-weight: bold;
    text-align: center;
    margin-right: 0px;
  }
  
  .stats-section p {
    color: #007bff;
    margin-left:100px;
  }
  
  .stats-section .text-center {
    border-left: 1px solid #007bff;
  }
  
  .stats-section .text-center:first-child {
    border-left: none;
  }
  .container.h3{
    align-items: center;
  }
  .special{
    padding-left: 50px;
    width: 150px;
  }
  