



.text-center {
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .mt-4 {
    margin-top: 1.5rem;
  }
  
  .w-100 {
    width: 100%;
  }
 
  .logo{
    
    width: 100px;
    height: 100px;
    top: 48px;
    left: 48px;
    gap: 0px;
    border-radius: 5px 5px 5px 5px;
    
  }
  .signUp{
    width: 137px;
    height: 55px;
    top: 196px;
    left: 45px;
    gap: 0px;
    opacity: 0px;

font-family: Readex Pro;
font-size: 36px;
font-weight: 400;
line-height: 45px;
text-align: center;

    


    font-family: Readex Pro;
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
}
.googleButton{
    

width:406px;
height: 64px;
top: 299.53px;
left: 511px;
gap: 24px;
opacity: 0px;
font-family: Readex Pro;
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: center;

    


border: 0.5px solid var(--Alternate, #E0E3E7)

}

.facebookButton{
margin-left: 150px;
width:  06px;
height: 64px;
top: 299.53px;
left: 98px;
gap: 24px;
opacity: 0px;
border: 0.5px solid var(--Alternate, #E0E3E7);
font-family: Readex Pro;
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: center;

}
.emailbox{
    width: 764px;
height: 156px;
top: 395px;
left: 48px;
gap: 0px;
font-family: Readex Pro;
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: center;

}

.emailinnerBox{
width: 764px;
height: 76px;
top: 475px;
left: 48px;
gap: 0px;
border-radius: 12px 12px 12px 12px;
opacity: 0px;

}
.passwordBox{
width: 761px;
height: 149px;
top: 550px;
left: 48px;
gap: 0px;
border-radius: 12px 0px 0px 0px;
opacity: 0px;
font-family: Readex Pro;
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: center;

}


.passwordinnerBox{
width: 761px;
height: 75px;
top: 624px;
left: 48px;
gap: 0px;
border-radius: 12px 12px 12px 12px;
opacity: 0px;

}
.tc{
    margin-left: 130px;
    width: 632px;
    height: 24px;
    top: 723px;
    left: 137px;
    gap: 0px;
    opacity: 0px;
    



}
.signupBox{
width: 608px;
height: 54px;
margin-top: 792px;
margin-left: 90px;
gap: 0px;
border-radius: 5px 5px 5px 5px;
opacity: 0px;
width: 285px;
height: 45px;
top: 797px;
left: 317px;
gap: 0px;
opacity: 0px;
font-family: Readex Pro;
font-size: 20px;
font-weight: 600;
line-height: 25px;
text-align: center;


}
.haveAccount{

width: 632px;
height: 24px;
top: 886px;
margin-left: 90px;
gap: 0px;
opacity: 0px;
font-family: Readex Pro;
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: center;

}
.or{
padding-left: 380px;
}
